@using OmegaGamesAPI.Services
@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase
@inject CustomerService customerService

<div class="page">
    <main>
        <nav class="navbar navbar-position fixed-top fw-bold navbar-dark navbar-expand-lg" id="navbar">
          <div class="container-fluid">
            <NavLink class="navbar-brand me-auto fs-2" href="/">Omega Games</NavLink>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="top-navbar">
              <ul class="navbar-nav justify-content-center flex-fill fs-2">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/" Match="NavLinkMatch.All">Hem</a>
                </li>
                <li class="nav-item">
                            <a class="nav-link" href="/ProductPage" Match="NavLinkMatch.Prefix">Produkter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" Match="NavLinkMatch.Prefix">Events</a>
                </li>
                </ul>
                <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/ShoppingCart"  Match="NavLinkMatch.Prefix">Kundvagn <span>@customerService.Customer.Cart.Count</span>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    window.addEventListener('scroll', function () {
        var navbar = document.getElementById('navbar');
        if (window.scrollY > 50) {
            navbar.classList.add('navbar-scrolled');
        } else {
            navbar.classList.remove('navbar-scrolled');
        }
    });
</script>

<style>
    .navbar-scrolled {
        background-color: black;
    }
</style>

@code {
}
