@page "/Event"
@using Common.DTO
@using Common.Interface
@using OmegaGamesAPI.Services
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@inject IProductService<ProductDTO> ProductService


<div class="event-image"></div>
<div class="container d-flex justify-content-center align-items-center" >
    <div class="d-flex flex-column align-items-center" style="margin-top: 7rem;">
        @foreach (var e in Events)
        {
            <EventElement Event=e />
        }
    </div>
</div>

@code {

    public List<EventDTO> Events { get; set; } = new();

    public EventDTO Event1 { get; set; } = new()
        {
            image = "https://teamvasastorage.blob.core.windows.net/images/eventimage-twostiffs_excited_and_happy_pacman_and_ghosts_playing_arcade_ga_3c7ba5a9-dbce-4998-86dc-f44582c29177-2.png",
            title = "RETRO GAMING NIGHT: TA EN TIDSRESA GENOM SPELENS HISTORIA",
            description = "Återupplev nostalgin med klassiska spel från förr! Från Atari till Nintendo 64, vi har allt du behöver för en kväll full av minnen och skratt. Ta med dig dina vänner och upptäck varför de gamla godingarna fortfarande är tidlösa.",
            date = "2024-04-26"
        };

    public EventDTO Event2 { get; set; } = new()
    {
        image = "https://teamvasastorage.blob.core.windows.net/images/eventpage2-twostiffs_excited_but_cool_teens_playing_video_games_and_bein_29b1fe0e-9d87-4db1-8fc5-3348311d77df_3.jpg",
        title = "FAMILY GAME NIGHT: SKAPA OVÄNTADE MINNEN TILLSAMMANS!",
        description = "Ta med hela familjen och upplev en kväll fylld med skratt och spel! Oavsett om du är gammal eller ung finns det spel för alla åldrar och intressen. Kom och skapa ovärderliga minnen med dina nära och kära!",
        date = "2024-04-05"
    };
    public EventDTO Event3 { get; set; } = new()
        {
            image = "https://teamvasastorage.blob.core.windows.net/images/pic12-twostiffs_a_young_excited_and_happy_group_of_friends_playing_co_4be40883-862d-4954-8cc2-1694df84e219.png",
            title = "INDIE GAME EXPO: UPPTÄCK NÄSTA STORA HIT!",
            description = "Utforska den spännande världen av indie-spel och upptäck nästa stora hit! Från unika koncept till gripande berättelser, dessa spel är säkra på att få dig att tappa hakan. Stöd små utvecklare och upptäck nya favoriter!",
            date = "2024-02-25"
        };
    public EventDTO Event4 { get; set; } = new()
    {
        image = "https://teamvasastorage.blob.core.windows.net/images/eventpage1-twostiffs_a_excited_and_happy_group_of_luchadores_playing_com_ffafbb76-74fe-4725-8a4f-b484cd32de14_1.jpg",
        title = "SUPER SMASH BROS TOURNAMENT: TA UPP DIN MANTLE SOM MÄSTARE!",
        description = "Bli en del av actionen och delta i vårt Super Smash Bros-turnering! Ta med dig dina bästa kämpar och kämpa för ära, berömmelse och fina priser. Visa dina färdigheter och se vem som är den ultimata mästaren!",
        date = "2024-02-12"
    };
    public EventDTO Event5 { get; set; } = new()
    {
        image = "https://teamvasastorage.blob.core.windows.net/images/pic15-twostiffs_a_young_excited_and_happy_group_of_friends_playing_co_cff9e7c0-048c-4f57-b452-415bd2b5c03b.png",
        title = "VIRTUAL REALITY EXPERIENCE: UPPTÄCK EN NY DIMENSION AV SPANNING!",
        description = "Ge dig in i en helt ny värld med vår Virtual Reality-upplevelse! Upplev spel som aldrig förr när du tränger in i en helt ny dimension av underhållning. Bli en del av framtiden och upptäck vad VR har att erbjuda!",
        date = "2024-01-12"
    };
    public EventDTO Event6 { get; set; } = new()
    {
            image = "https://teamvasastorage.blob.core.windows.net/images/pic15-twostiffs_a_young_excited_and_happy_group_of_friends_playing_co_cff9e7c0-048c-4f57-b452-415bd2b5c03b.png",
            title = "COSPLAY & GAMING GALA: KLÄ UPP DIG OCH HYLLA DIN FAVORITKARAKTÄR!",
            description = "Gör dig redo att visa upp dina bästa cosplay-kostymer och hylla dina favoritkaraktärer! Från Mario till Master Chief, alla är välkomna att delta i vår fantastiska Cosplay & Gaming Gala. Kom och låt din inre hjälte lysa!",
            date = "2023-12-24"
    };

    protected override async Task OnInitializedAsync()
    {
        //TODO: Ändra ProductService till namnet på vår service och hämta listan med produkter därifrån
        Events.Add(Event1);
        Events.Add(Event2);
        Events.Add(Event3);
        Events.Add(Event4);
        Events.Add(Event5);
        Events.Add(Event6);
    }
}
