@using Common.DTO
<div class="card mb-3" style="max-width: 840px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Event.Image" class="img-fluid rounded-start img-size" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-between h-100">
                <div>
                    <h5 class="card-title">@Event.Title</h5>
                    <p class="card-text">@Event.Description</p>
                    <p class="card-text text-end" style="font-weight: bold; margin-bottom: 20px;">@Event.StartDate</p>
                </div>
                <div class="mb-3">
                    <button class="align-bottom align-content-end bottomright btn btn-primary">Boka biljett</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventDTO Event { get; set; }
}