@page "/Event"
@using Common.DTO
@using Common.Interface
@using OmegaGamesAPI.Services
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@inject IEventService<EventDTO> EventService


<div class="event-image"></div>
<div class="container d-flex justify-content-center align-items-center" >
    <div class="d-flex flex-column align-items-center" style="margin-top: 7rem;">
        @foreach (var e in Events)
        {
            <EventElement Event=e />
        }
    </div>
</div>

@code {

    public List<EventDTO> Events { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Events.AddRange(await EventService.GetAllEvents());
    }
}
