.event-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://teamvasastorage.blob.core.windows.net/images/eventpage-twostiffs_a_young_excited_and_happy_group_of_luchadores_playing_f909e101-70b0-4dae-b48a-f258f65e030f.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(50%);
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.img-size {
    min-height: 250px;
    object-fit: cover;
}
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050; /* Adjust as needed to ensure it appears on top */
}