@page "/GetAllProductsPage"
@using Common.DTO
@using Common.Interface
@using OmegaGamesAPI.Services
@rendermode InteractiveServer
@inject ProductService ProductService

<section class="page-image">

<div class="container text-center product-container">
    <div class="row justify-content-center">
        @foreach (var product in Products)
        {
            <ProductCard Product="product"/>
        }
    </div>
</div>
</section>

@code {

    private List<ProductDTO> Products { get; set; } = new List<ProductDTO>();

    protected override async Task OnInitializedAsync()
    {
        //TODO: Ändra ProductService till namnet på vår service och hämta listan med produkter därifrån
        Products.AddRange(await ProductService.GetAllProducts());
    }
}