@page "/GetAllProductsPage"
@using Common.DTO
@rendermode InteractiveServer

<h3>GetAllProductsPage</h3>

<CardDeck>
    @foreach (var product in Products)
    {
        <ProductCard Name="@product.ProductName" Description="@product.Description" ShortDescription="@product.Description" Price="@product.Price" />
    }
</CardDeck>

@code {

    private List<ProductDTO> Products { get; set; } = new List<ProductDTO>();


    protected override async Task OnInitializedAsync()
    {
        //TODO: Ändra ProductService till namnet på vår service och hämta listan med produkter därifrån
        // Products = (await ProductService.GetAllProducts()).ToList();

        Products.Add(new ProductDTO()
            {
                Description = "Description",
                ProductName = "Name",
                Price = 50
            });

        Products.Add(new ProductDTO()
            {
                Description = "Beskrivning",
                ProductName = "Namn",
                Price = 9999
            });
    }

}