@page "/"

<PageTitle>Omega Games</PageTitle>

<div class=" frontpage2 mb-0">
    <img src="https://teamvasastorage.blob.core.windows.net/images/pic20test-twostiffs_excited_but_cool_teens_having_a_busy_party_and_play_7794e41f-42f7-430c-815f-c9bbe1ed1177_1.jpg" class="d-block w-100 landing-image" alt="...">
    <div class="landing-page-text justify-content-center">
        <h1 class="landing-page-text2">Omega Games</h1>
        <br/>
        <h1 class="landing-page-text2"> Där spelare känner sig hemma!</h1>
    </div>
</div>

<div class="section-background-color">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://teamvasastorage.blob.core.windows.net/images/pic10-twostiffs_a_old_excited_and_happy_couple_playing_computer_games_1bd5697c-2611-4c24-a5a5-59584726b05d.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="p-2">
                        <h5>BILJETTER UTE NU!! SENIOR GAMING NIGHT: MAJ!</h5>
                        <p class="d-none d-sm-block">Gör dig redo för en fantastisk kväll med datorspel för nybörjare och härdade seniorer! Oavsett om det är din första kontakt med spelvärlden eller du blir varm inombords om du hör namnet Spacewar, Pong och Pacman finns det något för dig. Kom, umgås, spela och tävla.</p>
                    </div>
                    <button class="btn btn-light"><a class="text-black text-decoration-none" href="/Event">Läs mer!</a></button>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://teamvasastorage.blob.core.windows.net/images/pic1-twostiffs_a_excited_and_happy_luchador_playing_computer_games_i_9108a789-3bfb-497e-aa2f-0c4615183c57.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="p-2">
                        <h5>CALLING ALL GAMERS!! LAN-KVÄLL 24/5</h5>
                        <p class="d-none d-sm-block">Välkommen till en adrenalinfylld och actionspäckad kväll. Oavsett om du gillar shooters, racingspel eller strategi, finns det något för dig. Delta i våra turneringar, vinn fina priser, utmana en främling eller luta dig tillbaka i sofforna och spela lite brädspel. </p>
                    </div>
                    <button class="btn btn-light"><a class="text-black text-decoration-none" href="/Event">Läs mer!</a></button>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://teamvasastorage.blob.core.windows.net/images/mouse_1920_1080.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="p-2">
                        <h5>I BUTIKEN JUST NU!! THE MOUSE!!</h5>
                        <span class="d-none d-sm-block">Next generation gamingmus med fantastisk precision och grymt futuristisk design!</span><span> 799:-<br/>(Så långt lagret räcker)</span>
                    </div>
                    <button class="btn btn-light"><a class="text-black text-decoration-none" href="/ProductPage">Läs mer!</a></button>
                </div>
            </div>
        </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

<section class="section3 frontpage-h2">
    <div class="container p-1">
        <h1 class="text-white about-text-title">Välkommen till Omega Games!</h1>
        <p class="text-white about-text">
            Där din digitala värld möter kvarteret, platsen för både spel och gemenskap!
            Vi erbjuder inte bara de senaste spelen utan även fantastiska LAN-träffar, spännande turneringar och spektakulära evenemang.
            Utforska de senaste spelen och knyt kontakter med andra gamers.
            Hos oss finns allt du behöver för att kasta dig in i spelvärlden.

        </p>

    </div>
        </section>
        <div>
            <div class="pb-0 mb-0 justify-content-center text-light footer-background">
                <div class="footer-row justify-content-center py-5">
                    <div class="col-11">
                        <div class="row">
                            <div class="iframe-rwd justify-content-center d-flex">
                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d533.0131071143439!2d11.964817715456588!3d57.69857907386607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff36e4f25fca1%3A0x7ea77645df0bf60d!2sVasagatan%2C%20Göteborg!5e0!3m2!1ssv!2sse!4v1712823919241!5m2!1ssv!2sse"></iframe><br />
                            </div>

                    

                            <div class="col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6><p class="mb-1">416 56, VASAGATAN</p><p>VASABYGGNADEN</p> </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-8 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end"><p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Omega Games Vasa All Rights Reserved.</small></div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end "><h6 class="mt-55 mt-2 text-muted bold-text"><b>BÖRJE</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> omegagamesvasa@gmail.com</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
