.frontpage2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontpage-h2 {
    align-content: center;
    font-size: 5rem;
    word-wrap: break-word;
    text-align: center;
}

.section3 {
    background-color: #2E2A28;
    min-height: 100vh;
}

body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #455A64;
    height: 100 !important;
}


.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.bold-text {
    color: #989c9e !important;
}


.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
}


h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social {
    font-size: 21px !important;
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}

.footer-background {
    background-color: #3C454B;
}

/*iframe {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
}*/

.iframe-rwd {
    position: relative;
    padding-bottom: 20%;
    height: 0;
}

    .iframe-rwd iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
    }

.footer-row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 1rem;
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.section-background-color {
    background-color: #2E2A28;
}

@media only screen and (min-width: 1024px) and (min-height: 900px) {
    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 2vw;
    padding: 2vw;
}

.carousel-caption p {
    font-size: 1vw;
}

.carousel-caption span {
    font-size: 1vw;
}

.carousel-caption .btn {
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
}
