@page "/klarnatest"
@using Common.Interface
@rendermode InteractiveServer
@inject ICheckoutService KlarnaCheckoutService

<div class="fluid-container mt-5">
<h3>KlarnaTest</h3>
<button class="btn btn-primary" @onclick="SendKlarnaTestRequest">Send test request</button>
    @if(htmlSnippet != null)
    {
        @htmlSnippet
    }

</div>

@code {
    private MarkupString? htmlSnippet = null;
    private async void SendKlarnaTestRequest()
    {
        Console.WriteLine("Send Klarna test request");
        var htmlSnippetString = await KlarnaCheckoutService.CreateOrder();
        htmlSnippet = new MarkupString(htmlSnippetString);
        await InvokeAsync(StateHasChanged);
    }
}
