<h3>ProductCard</h3>

@rendermode InteractiveServer

<Card>
    <CardBody>
        <CardTitle Size="3">
            @Name
        </CardTitle>
        <CardText>
            @ShortDescription
            @Price kr
        </CardText>
    </CardBody>
</Card> 

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string ShortDescription { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public double Price { get; set; }

    
}