.card-opacity {
    opacity: 0.95;
}

.img-size {
    height: 200px;
    object-fit: cover;
}

.card-subtitle {
    font-family: 'Archivo', Helvetica, Arial, sans-serif;
}

.hidden {
    display: none
}

.not-hidden {
    display: show
}